<!DOCTYPE html>

<html>
    <head>
        {% include 'base/header.html' %}
        <!-- Overwritable blocks must be located in the root -->
        <title>{% block page_title %} Suus {% endblock page_title %}</title>
        {% block css %}{% endblock css %}
        <meta property="og:title" content="{% block og_title %} Suus {% endblock %}">
    </head>
    <body class="bg-gray-900">
        {% block content %}
        {% endblock content %}

        {% include 'base/js.html' %}
    </body>
</html>
